extends layout

block content
    .sidebar-navigation
          p.span Personal
          nav
            ul
              li
                a(href='/feed')
                  span.glyphicon.glyphicon-home
                  |                             Home
              li
                a(href='/profile')
                  span.glyphicon.glyphicon-user
                  |                             Perfil
              li
                a(href='/groups')
                  span.glyphicon.glyphicon-th-large
                  |                             Grupos
            p.span App
              ul
                li
                    a(href='#projects')
                        span.glyphicon.glyphicon-heart
                        |                             Amigos

                li
                    a(href='#blog')
                        span.glyphicon.glyphicon-question-sign
                        |                             Quem somos?
    .hero-image
      ul.nav.navbar-nav.navbar-right
        li
          a(src='assets/vendor/nucleo/fonts/ic_inbox_24px.svg')
            span.glyphicon.glyphicon-user
              |  Avatar
        li
          a(href='#')
            span.glyphicon.glyphicon-log-in
              |  Login

    .titulo
        h2 amaze me pls

    .page-content
        button.w3-btn.w3-round-large(onclick="window.location.href = '/register'") Registar utilizador
        button.w3-btn.w3-round-large(onclick="window.location.href = '/logout'") Logout
        h1 Agenda de Eventos
        table(border="1")
          tr
            th Name
            th Owner
            th Bio
            th Users
          each e in lista
              if (e.users.includes(user._id))
                  tr
                      td
                          a(href='http://localhost:5004/groups/' + e._id)= e.name
                      td= e.owner
                      td= e.bio
                      td= e.users.length
              else
                  if (e.visible)
                      tr
                          if (!e.needRequest)
                              td
                                  a(href='http://localhost:5004/groups/' + e._id)= e.name
                          else
                              td= e.name
                                  form(action=('http://localhost:5004/groups/' + e._id + '/request?member=' + user._id ) method="POST")
                                      input(type="submit" value="Pedir para Entrar")
                          td= e.owner
                          td= e.bio
                          td= e.users.length


        a(href='http://localhost:5004/criaGrupo') Criar Grupo




          //   if (e.users.includes)
        //           if (1==2)
        //               td
        //                   a(href='http://localhost:5004/groups/' + e._id)= e.name
        //           else
        //               td NOICE
        //       else
        //           td= e.name
        //               form(action=('http://localhost:5004/groups/' + idG + '/topics/' + idT + '/likePost/' + e._id + '?user=' +  user._id ) method="POST")
        //                   input(type="submit" value="Like")