extends layout

block content
    .sidebar-navigation
          p.span Personal
          nav
            ul
              li
                a(href='/feed')
                  span.glyphicon.glyphicon-home
                  |                             Home
              li
                a(href='/profile')
                  span.glyphicon.glyphicon-user
                  |                             Perfil
              li
                a(href='#projects')
                  span.glyphicon.glyphicon-heart
                  |                             Amigos
            p.span App
              ul
                
                li
                  a(href='/groups')
                    span.glyphicon.glyphicon-th-large
                    |                             Grupos

                li
                  a(href='/credits')
                    span.glyphicon.glyphicon-question-sign
                    |                             Quem somos?

                li
                  a(href='/allUsers')
                    span.fa.fa-users
                    |                             Utilizadores
                
                li
                  a(href='/hashtag')
                    span.fa.fa-hashtag
                    |                             Hashtags
                
                li
                  a(href='/logout')
                    span.glyphicon.glyphicon-off
                    |                             Logout        

    .hero-image
      ul.nav.navbar-nav.navbar-right
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/logout')
              span.glyphicon.glyphicon-off
              |  logout
          li
              .avatar.rounded-circle
                 img(src='/ficheiros/' + user.foto)


    .titulo
        h2 Perfil de: #{utilizador.name}

        
    .page-content
        .card.card-profile
            img.card-img-top(src='../../assets/img/banner.png' alt='Image placeholder')
            .row.justify-content-center
                .col-lg-3.order-lg-2
                    .card-profile-image
                            if (foto!="")
                                img.rounded-circle(src='/ficheiros/' + utilizador.foto)
                            else
                                img.rounded-circle(src='../../assets/img/theme/team-4.jpg')
            .card-header.text-center.border-0.pt-8.pt-md-4.pb-0.pb-md-4
                .d-flex.justify-content-between

                    if(!user.friends.includes(utilizador._id))
                      form(action=('http://localhost:5004/user/' + utilizador._id + '/addRequest?member=' + user._id) method="POST")
                              button.btn.btn-icon.btn-primary(type='submit')
                                span.glyphicon.glyphicon-heart 

                    
            .card-body.pt-0
                .row(style="padding-top:60px")
                    .col
                        .card-profile-stats.d-flex.justify-content-center
                            div
                                br
                                span.heading=utilizador.friends.length
                                span.description Amigos
                            div
                                br
                                span.heading=nr
                                span.description Grupos
                .text-center
                    h5.h3=utilizador.name
                        span.font-weight-light=user.dateBirth
                    .h5
                        i.ni.location_pin.mr-2=user.bio
