extends ../layout

block content
    .sidebar-navigation
          p.span Personal
          nav
            ul
              li
                a(href='/feed')
                  span.glyphicon.glyphicon-home
                  |                             Home
              li              
                a(href='/profile')
                  span.glyphicon.glyphicon-user
                  |                             Perfil
              li
                a(href='/groups')
                  span.glyphicon.glyphicon-th-large
                  |                             Grupos
            p.span App
              ul
                li
                    a(href='#projects')
                        span.glyphicon.glyphicon-heart
                        |                             Amigos

                li
                    a(href='/credits')
                        span.glyphicon.glyphicon-question-sign
                        |                             Quem somos?
            

    .hero-image
      ul.nav.navbar-nav.navbar-right
        li
          a
            span.glyphicon.glyphicon-inbox
              |  Mensagens
        li
          .avatar  
            img(src='/assets/img/pepe.jpg' alt='Card image cap')

    .titulo
        h2=nameTopico

    //- VERDADEIRO CODIGO COMEÇA AQUI
    .page-content
        .row
          .col-md-6
            .widget-area.no-padding.blank
              .status-upload
                form(action=("/addPost?idT=" + idT + '&idG=' + idG) method="POST")
                  input.form-control(type='text' name="title" required="" placeholder="Título" aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
                  textarea(placeholder='What are you thinking?' name="text" type="text" required="")
                  input.form-control(type='text' name="hashtag" placeholder="Hashtags" aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
                  button.btn(type='submit' )
                    i.fa.fa-share
                    |  Publicar
                  button.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.fa.fa-globe
                    | Público

        .containerPosts
          .col-sm-8
            .panel.panel-white.post.panel-shadow
              each post in lista
                .singlePost
                  .post-heading
                    .pull-left.image
                      img.img-circle.avatar(src='http://bootdey.com/img/Content/user_1.jpg' alt='user profile image')
                    .pull-left.meta
                      .title.h5
                        a(href='#')
                          each mem in members
                            if(mem._id==post.owner)
                             b=mem.name
                        |                         publicou algo.
                      h6.text-muted.time= ("" + new Date(parseInt(post.date))).split('GMT')[0]
                  .post-description
                    h4 Titulo: #{post.title}
                    p=post.text
                    .stats
                      form(action=('http://localhost:5004/groups/' + idG + '/topics/' + idT + '/likePost/' + post._id + '?user=' +  user._id ) method="POST")
                        button.btn.btn-icon.btn-primary(type='submit')
                          span.btn-inner--icon
                            i.ni.ni-favourite-28  #{post.NumLikes}
                  .post-footer
                    .input-group
                      
                        form(action=("/addComent?idP=" + post._id + '&idG=' +idG + '&idT=' + idT ) method="POST")
                  
                          input.form-control(placeholder='Add a comment' name="texto" type='text')
                          button.btn.btn-icon.btn-primary(type='submit')
                            span.btn-inner--icon
                              i.fa.fa-edit
                  each comment in post.comments      
                    ul.comments-list
                      li.comment
                        a.pull-left(href='#')
                          img.avatar(src=comment.imagem alt='avatar')
                        .comment-body
                          .comment-heading
                            h4.user=comment.owner
                            h5.time=comment.date
                          p=comment.text