extends ../layout

block content
    .sidebar-navigation
          p.span Personal
          nav
            ul
              li
                a(href='/feed')
                  span.glyphicon.glyphicon-home
                  |                             Home
              li
                a(href='/profile')
                  span.glyphicon.glyphicon-user
                  |                             Perfil
              li
                a(href='#projects')
                  span.glyphicon.glyphicon-heart
                  |                             Amigos
            p.span App
              ul
                
                li
                  a(href='/groups')
                    span.glyphicon.glyphicon-th-large
                    |                             Grupos

                li
                  a(href='/credits')
                    span.glyphicon.glyphicon-question-sign
                    |                             Quem somos?

                li
                  a(href='/allUsers')
                    span.fa.fa-users
                    |                             Utilizadores
                
                li
                  a(href='/hashtag')
                    span.fa.fa-hashtag
                    |                             Hashtags
                
                li
                  a(href='/logout')
                    span.glyphicon.glyphicon-off
                    |                             Logout        

    .hero-image
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/logout')
            span.glyphicon.glyphicon-off
            |  logout
        li
            .avatar.rounded-circle
               img(src='/ficheiros/' + user.foto)

    .titulo
        h2= nameTopico


    //- VERDADEIRO CODIGO COMEÇA AQUI
    .page-content
        .row
           each mem in members
            if (mem._id == user._id)
              .col-md-6

                .widget-area.no-padding.blank
                  .status-upload
                    form(action=("/addPost?idT=" + idT + '&idG=' + idG) method="POST" enctype="multipart/form-data" )
                      input.form-control(type='text' name="title" required="" placeholder="Título" aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
                      textarea(placeholder='What are you thinking?' name="text" type="text" required="")
                      input.form-control(type='text' name="hashtag" placeholder="Hashtags" aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
                      button.btn(type='submit' )
                        i.fa.fa-share
                        |  Publicar
                      input.w3-input.w3-cell(type="file" name="ficheiro")

        .containerPosts
          .col-sm-8
            .panel.panel-white.post.panel-shadow
              each post in lista
                .singlePost
                  .post-heading
                    .pull-left.image
                      each mem in members
                        if(mem._id==post.owner)
                          img.img-circle.avatar(src='/ficheiros/'+mem.foto alt='user profile image')
                    .pull-left.meta
                      .title.h2GOD
                        each mem in members
                          if(mem._id==post.owner)
                            a(href='/checkProfile/' + mem._id)
                             b=mem.name
                      h6.text-muted.time= ("" + new Date(parseInt(post.date))).split('GMT')[0]
                  .post-description
                    h4=post.title

                    p=post.text
                    each tag in post.hashtag
                        b # #{tag}
                  
                    .stats
                      .row
                        .col-sm-1
                          form(action=('http://localhost:5004/groups/' + idG + '/topics/' + idT + '/likePost/' + post._id + '?user=' +  user._id ) method="POST")
                            button.btn.btn-icon.btn-primary(type='submit' onClick="location.reload(true)")
                              span.btn-inner--icon
                                i.ni.ni-favourite-28  #{post.NumLikes}
                        .col-sm-1
                          if(post.ficheiroName)
                    
                            button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal') Ver Anexo

                            // Modal
                            #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
                              .modal-dialog.modal-dialog-centered(role='document')
                                .modal-content
                                  .modal-header
                                    h5#exampleModalLabel.modal-title Anexo do Post
                                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                                      span(aria-hidden='true') &times;
                                  .modal-body
                                       img.card-img-top(src='/ficheiros/' + post.ficheiroName alt='Card image cap')
                                        

                                  .modal-footer
                                    form.w3-container(action=("/download/" + post.ficheiroName ) method="GET")
                                          button.btn.btn-success(type='submit') Download   
                                    button.btn.btn-success(type='button' data-dismiss='modal') Cancelar
                                              

                          
                  .post-footer
                    form(action=("/addComent?idP=" + post._id + '&idG=' +idG + '&idT=' + idT ) method="POST")
                      .input-group.mb-3
                        input.form-control(type='text' name="texto" placeholder="Add comment..." aria-label="Recipient's username" aria-describedby='button-addon2')
                      .input-group-append
                        button.button-addon.btn.btn-outline-primary(type='submit' onClick="location.reload(true)")
                          span.btn-inner--icon
                            i.fa.fa-edit

                  each comment in post.comments      
                    ul.comments-list
                      li.comment
                        a.pull-left(href='#')
                          each mem in members
                              if(mem._id==comment.owner)
                                img.avatar(src= "/ficheiros/" + mem.foto alt='avatar')
                        .comment-body
                          .comment-heading
                            each mem in members
                              if(mem._id==comment.owner)
                                a(href='/checkProfile/' + mem._id)
                                  b=mem.name
                                h6.time=  ("" + new Date(parseInt(comment.date))).split('GMT')[0]
                          p Comentário: #{comment.text}