extends ../layout

block content
    .sidebar-navigation
          p.span Personal
          nav
            ul
              li
                a(href='/feed')
                  span.glyphicon.glyphicon-home
                  |                             Home
              li
                a(href='/profile')
                  span.glyphicon.glyphicon-user
                  |                             Perfil
              li
                a(href='#projects')
                  span.glyphicon.glyphicon-heart
                  |                             Amigos
            p.span App
              ul
                
                li
                  a(href='/groups')
                    span.glyphicon.glyphicon-th-large
                    |                             Grupos

                li
                  a(href='/credits')
                    span.glyphicon.glyphicon-question-sign
                    |                             Quem somos?

                li
                  a(href='/')
                    span.fa.fa-users
                    |                             Utilizadores
                
                li
                  a(href='/')
                    span.fa.fa-hashtag
                    |                             Hashtags
                
                li
                  a(href='/logout')
                    span.glyphicon.glyphicon-off
                    |                             Logout        

    .hero-image
      ul.nav.navbar-nav.navbar-right
        li
          a
            span.glyphicon.glyphicon-inbox
              |  Mensagens
        li
          a(href='#')
            .avatar  Avatar

    .titulo
        h2 Mr. Book


    //- VERDADEIRO CODIGO COMEÇA AQUI
    .page-content
        .row
          .col-md-6
            .widget-area.no-padding.blank
              .status-upload
                form(action=("/addPost?idT=" + idT + '&idG=' + idG) method="POST" enctype="multipart/form-data" )
                  input.form-control(type='text' name="title" required="" placeholder="Título" aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
                  textarea(placeholder='What are you thinking?' name="text" type="text" required="")
                  input.form-control(type='text' name="hashtag" placeholder="Hashtags" aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
                  button.btn(type='submit' )
                    i.fa.fa-share
                    |  Publicar
                  input.w3-input.w3-cell(type="file" name="ficheiro")

        .containerPosts
          .col-sm-8
            .panel.panel-white.post.panel-shadow
              each post in lista
                .singlePost
                  .post-heading
                    .pull-left.image
                      each mem in members
                        if(mem._id==post.owner)
                          img.img-circle.avatar(src='/ficheiros/'+mem.foto alt='user profile image')
                    .pull-left.meta
                      .title.h2GOD
                        a(href='#')
                          each mem in members
                            if(mem._id==post.owner)
                             b=mem.name
                      h6.text-muted.time= ("" + new Date(parseInt(post.date))).split('GMT')[0]
                  .post-description
                    h4=post.title

                    p=post.text
                    .stats
                      .row
                        .col-sm-1
                          form(action=('http://localhost:5004/groups/' + idG + '/topics/' + idT + '/likePost/' + post._id + '?user=' +  user._id ) method="POST")
                            button.btn.btn-icon.btn-primary(type='submit' onClick="location.reload(true)")
                              span.btn-inner--icon
                                i.ni.ni-favourite-28  #{post.NumLikes}
                        .col-sm-1
                          if(post.ficheiroName)
                    
                            button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal') Ver Anexo

                            // Modal
                            #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
                              .modal-dialog.modal-dialog-centered(role='document')
                                .modal-content
                                  .modal-header
                                    h5#exampleModalLabel.modal-title Dados do Grupo a Criar
                                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                                      span(aria-hidden='true') &times;
                                  .modal-body
                                       img.card-img-top(src='/ficheiros/' + post.ficheiroName alt='Card image cap')    

                                  .modal-footer
                                    button.btn.btn-success(type='button' data-dismiss='modal') Cancelar
                                              

                          
                  .post-footer
                    form(action=("/addComent?idP=" + post._id + '&idG=' +idG + '&idT=' + idT ) method="POST")
                      .input-group.mb-3
                        input.form-control(type='text' placeholder="Add comment..." aria-label="Recipient's username" aria-describedby='button-addon2')
                      .input-group-append
                        button.button-addon.btn.btn-outline-primary(type='submit' onClick="location.reload(true)")
                          span.btn-inner--icon
                            i.fa.fa-edit

                  each comment in post.comments      
                    ul.comments-list
                      li.comment
                        a.pull-left(href='#')
                          img.avatar(src="/ficheiros/"+user.foto alt='avatar')
                        .comment-body
                          .comment-heading
                            h4.user=comment.owner
                            h5.time=comment.date
                          p=comment.text